body {
    padding-top: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #428bca;
    border-color: #428bca;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #3071a9;
    border-color: #285e8e;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #c9302c;
    border-color: #ac2925;
}
